@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #F2EBBF, #8CBEB2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #7c303093;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#F06060;
    text-align: center;
    text-shadow: 1px 1px 2px #9c3e3e8c;
}

h2 {
    color:#5C4B51;
}
p {
    text-align: justify;
}