@charset "UTF-8";

header {
    cursor:pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.box-green {
    height: 300px;
    width: 300px;
    background-color: rgb(45, 139, 45);
    border: 10px solid rgb(3, 105, 3);
    position: relative;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.box-blue {
    height: 100px;
    width: 100px;
    background-color: rgb(93, 93, 184);
    border: 10px solid rgb(58, 58, 146);
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 4;
}


.box-black {
    height: 1000px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.486);
    border: 5px solid rgb(37, 36, 36);
    display: inline-block;
}

.conteudo {
    width: 50%;
    display: inline-block;
    vertical-align: top;

}

#sticky {
    background-color: rgb(118, 194, 212);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid rgb(77, 77, 110);
    position: sticky;
    top:0;
}

h1 {
    display: inline;
}

#chat {
    background-color: rgb(77, 77, 95);
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;

    border-style:double;
    border-width: 10px;

    font-size: 40px;
    color: #FFF;

    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    margin-right: 15px;
    margin-bottom: 20px;
}
