@charset "UTF-8";

fieldset {
    display:inline
}
table {
    border-width: 3px;
    width: 500px;
    border-color: tomato;
}

.label-campo-text {
    margin-right: 17px;
}

.label-campo-checkbox {
    margin-left: 10px;
    
}

tbody input {
    margin-top:10px;
    margin-bottom:10px;
}

tfoot {
    background-color:rgba(102, 175, 93, 0.527);
    color: white;
    text-Align: center;
}

input, select {
    width: 100%;
}

