* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    background: linear-gradient( rgb(167, 206, 238), white);
    border: 3px solid rgb(26, 25, 25);
    position:relative;
    overflow:hidden;
}

.clounds {
    position:absolute;
    width: 700px;
    right:0;
    top:75px;
    animation: clounds-animation 12s infinite linear;
}

.pipe {
    position: absolute;
    width:80px;
    bottom: 0;
    right:3%;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    position:absolute;
    width:150px;
    bottom:0;
    animation: jump 500ms infinite ease-out;
}
    /*animation: jump 500ms infinite ease-out;*/


.jump {
        animation: jump 500ms ease-out;
}

@keyframes clounds-animation {
    from {
        right:-700px;
    }

    to {
        right:100%;
    }
}

@keyframes pipe-animation {
    from {
        right:-80px;
    }

    to {
        right:100%;
    }
}

@keyframes jump {
    0% {
        bottom:0;
    }
    
    40% {
        bottom:180px;
    }

    60% {
        bottom:180px;
    }

    100% {
        bottom:0;
    }
}